<?xml version="1.0"?>
<configuration>




  <connectionStrings>
   
    <add name="SqlServices" connectionString="Data Source=GEORGE-PC\SQLEXPRESS;Initial Catalog=ThackrayDB;Integrated Security=False;User Id=tanc_user;Password=~george" providerName="System.Data.SqlClient" />
  </connectionStrings>



</configuration>
