*bin/
*obj/
Genealogy/TancWebApp/resources/images/


# Per-user data
*/*.csproj.user
*.suo
*.sln.cache
*.ReSharper.user
*.TeamCity.user
*.sln.DotSettings.user
_ReSharper.*
*.docstates
*.csproj.ReSharper
*.dotcover

Genealogy/GenOnline/Client
Genealogy/packages
Genealogy/GenOnline/Properties/PublishProfiles

