<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <appSettings>
    <add key="StorageRoot" value="C:\temp\" />
  </appSettings>

  <connectionStrings>
    <add name="SqlServices" connectionString="Data Source=GEORGE-PC;Initial Catalog=ThackrayDB;Integrated Security=False;User Id=tanc_user;Password=~george" providerName="System.Data.SqlClient" />

       <add name="GeneralModelContainer" 
         connectionString="metadata=res://*/EntityModel.GeneralModel.csdl|res://*/EntityModel.GeneralModel.ssdl|res://*/EntityModel.GeneralModel.msl;provider=System.Data.SqlClient;provider connection string=
         &quot;data source=sql10.hostinguk.net;initial catalog=ThackrayDB;Persist Security Info=True;User ID=GeorgeT;Password=***REMOVED***;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    
    <!--<add name="SqlServices" 
         connectionString="Data Source=esql2k801.discountasp.net;Initial Catalog=SQL2008_845237_thackraydb;User ID=SQL2008_845237_thackraydb_user;Password=***REMOVED***"
         providerName="System.Data.SqlClient" />-->

  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>

    <security>
      <authentication>
        <basicAuthentication enabled="false" />
      </authentication>
    </security>

    <directoryBrowse enabled="true" />

  </system.webServer>


  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!--  -->
        <standardEndpoint helpEnabled="true" automaticFormatSelectionEnabled="false" crossDomainScriptAccessEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
