<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TDBCore.Properties.Settings.ThackrayDBConnectionString" connectionString="Data Source=GEORGE-PC\;Initial Catalog=ThackrayDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TDBCore.Properties.Settings.YorkshireParishsConnectionString" connectionString="Data Source=GEORGE-PC\;Initial Catalog=ThackrayDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TDBCore.Properties.Settings.WorkConnString" connectionString="Data Source=GRN-P005718\;Initial Catalog=ThackrayDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="GeneralModelContainer" connectionString="metadata=res://*/EntityModel.GeneralModel.csdl|res://*/EntityModel.GeneralModel.ssdl|res://*/EntityModel.GeneralModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GEORGE-PC\SQLEXPRESS;Initial Catalog=ThackrayDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ThackrayDBEntities2" connectionString="metadata=res://*/EntityModel.TestEDM.csdl|res://*/EntityModel.TestEDM.ssdl|res://*/EntityModel.TestEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GEORGE-PC\SQLEXPRESS;Initial Catalog=ThackrayDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>