<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>

   
  </configSections>
 

  <appSettings>
    <add key="StorageRoot" value="C:\temp\"/>
  </appSettings>


  <connectionStrings>
 
 
    <add name="SqlServices" 
         connectionString="Data Source=GEORGE-PC\SQLEXPRESS;Initial Catalog=ThackrayDB;Integrated Security=False;User Id=tanc_user;Password=~george"
         providerName="System.Data.SqlClient" />


    <!--<add name="SqlServices" 
         connectionString="Data Source=esql2k801.discountasp.net;Initial Catalog=SQL2008_845237_thackraydb;User ID=SQL2008_845237_thackraydb_user;Password=***REMOVED***"
         providerName="System.Data.SqlClient" />-->

  </connectionStrings>

 

  <system.web>

    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="360" requestPathInvalidCharacters="" />

    <xhtmlConformance mode="Strict"/>

    <customErrors mode="Off"/>

    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />

    <authentication mode="Forms">
      <forms name="appNameAuth" path="/" loginUrl="~/Forms/Login.aspx" protection="All" timeout="43200"  cookieless="UseCookies"></forms>
    </authentication>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
 
  </system.web>

  <system.webServer>

    <security>
      <authentication>
        <basicAuthentication enabled="false" />
      </authentication>
    </security>

    <directoryBrowse enabled="true" />
 
  </system.webServer>
  
  <system.serviceModel>
    <behaviors>

      <serviceBehaviors>
       
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>


      </serviceBehaviors>


      <endpointBehaviors>
      

      </endpointBehaviors>

    </behaviors>



    <bindings>
      <webHttpBinding>

        <binding name="secure" maxBufferPoolSize="1500000" maxReceivedMessageSize="1500000"
             maxBufferSize="1500000">

          <readerQuotas
                maxArrayLength="656000"
                maxBytesPerRead="656000"
                maxDepth="32"
                maxNameTableCharCount="656000"
                maxStringContentLength="656000"
            />

          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>

        </binding>



        <!--<binding name="secure">
					<security mode="Transport">
						<transport clientCredentialType="Basic" />
					</security>
				</binding>-->
      </webHttpBinding>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding />
          <httpTransport>
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpTransport>
        </binding>
        <binding name="CustomerService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="SilverDescData.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />


    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>



    <services>

    </services>
  </system.serviceModel>
</configuration>
