.pagerlink
{
    
    }
    
.pagerlink
{
    font-weight: normal;
    width:15px;
}    
    

.pagerlink_selected
{
    font-weight: bold;
}


.pager
{
    text-align: right;
    margin-right:40px;
}

.pager a
{
    display: inline;
    margin-left:2px;
    margin-right:2px;
}

